.title
{
    margin:auto;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 20px;
}

.gridContainer
{
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    width: 960px;
    margin:auto;
}

.cell
{
    background-color: lightgray;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    width: calc(960px / 4 - 4px);
    aspect-ratio: 1;
    margin: -1px;
}

.filled
{
    background-color: darkgray;
}